@media (max-width: 768px) {
    .contact-info-box {
        border-radius: 0 !important;
    }

    .footer-wrap .row {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-logo-wrap img {
        width: 100%;
        max-width: 250px;
    }

    .promo-wrapper h2 {
        font-size: 1.5rem;
    }

    .promo-wrapper p {
        font-size: 1rem;
    }

    .btn-register {
        width: 100%;
        margin-top: 1rem;
    }

    .login-wrap {
        background-color: #fff;
        padding: 40px 50px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: hidden;
        width: 100%;
        max-width: 80%;
        height: 80vh;
    }

    .search-div {
        padding-left: 0px !important;
    }

    .pickup-wrap {
        margin: 0px 0;
        width: 370px;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .groupage-left {
        width: 100% !important;
        margin-bottom: 15px;
    }

    .shipping-wrap-box {
        padding-left: 0px;
        padding-right: 0px;
    }

    .home-country-selector {
        width: 60%;
        border-right: 1px solid #00000066;
        padding: 0 0px;
    }

    .home-search-country {
        cursor: pointer;
        width: 40%;
        padding: 0 0px;
    }

    .regerser-country-label{
        margin-bottom: 55px;
    }
}