@media (max-width: 767px) {

    .hero-wrap-head h1 {
        font-size: 24px !important;
        line-height: 36px;
    }

    .hero-wrap-head h1 span {
        font-size: 24px !important;
    }

    .hero-wrap-head p {
        font-size: 16px;
        line-height: 26px;
        margin: 18px auto;
        width: 100%;
    }

    .about-text-wrap h2 {
        font-size: 18px !important;
        line-height: 28px;
    }

    .home-heading h2 {
        font-size: 18px !important;
        line-height: 28px;
    }

    .build-wrapper {
        padding-bottom: 0px;
    }

    .home-company-wrap {
        display: none !important;
    }

    .our-mission-wrap h3 {
        color: #000;
        font-weight: 600;
        margin-bottom: 20px;
        font-size: 20px !important;
    }

    .our-mission p {
        font-size: 16px;
        line-height: 26px;
        padding: 0;
        width: 100%;
        font-weight: 400;
    }

    .our-mission-btn button {
        padding: 12px 12px;
    }

    .about-choose h3 {
        font-size: 35px;
        font-size: 20px !important;
        font-weight: 600;
    }

    .about-footer-wrap {
        background-color: #fff;
        border-radius: 20px;
        padding: 15px;
        text-align: left;
        width: 100%;
    }

    .search-result-data-wrap {
        padding: 10px;
    }

    .offer-details-wrap {
        border: 1px solid #ccc;
        padding: 10px;
    }

    .btn-register {
        margin-top: 0;
        width: 100%;
    }

    .p-stepper .p-stepper-panels {
        padding: 16px 0px;
    }

    /* .login-wrap {
        height: 92vh;
        max-width: 95%;
        padding: 15px 15px;
    } */

    .input-field {
        background-color: #ebebeb;
        font-size: 16px !important;
        margin-bottom: 20px;
        padding: 12px 20px;
        width: 100%;
    }

    .input-label {
        font-size: 16px;
    }

    .btn-sign {
        font-size: 17px;
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }

    .title-head h2 {
        font-size: 30px;
        font-size: 20px !important;
    }

    .login-logo-wrap img {
        width: 15%;
    }

    .contact-form-wrap {
        padding: 0;
        width: 100%;
    }

    .about-text {
        width: 100%;
    }

    .about-title-head h3 {
        font-size: 22px !important;
        line-height: 34px;
        margin-bottom: 16px;
    }

    .step-image img {
        height: auto;
        margin-left: 0px !important;
        object-fit: cover;
        width: 100%;
    }

    .step-text h5 {
        /* color: #000; */
        font-size: 20px;
        /* font-weight: 700; */
        /* margin-bottom: 0; */
        font-size: 17px !important;
    }

    .contact-info-box {
        border-radius: 0 !important;
    }

    .footer-wrap .row {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer-logo-wrap img {
        width: 100%;
        max-width: 250px;
    }

    .promo-wrapper h2 {
        font-size: 1.5rem;
    }

    .promo-wrapper p {
        font-size: 1rem;
    }

    /* .btn-register {
        width: 100%;
        margin-top: 1rem;
    } */

    .login-wrap {
        background-color: #fff;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow-x: hidden;
        width: 100%;
        height: 92vh;
        max-width: 95%;
        padding: 15px 15px;
    }

    .search-div {
        padding-left: 0px !important;
    }

    .pickup-wrap {
        margin: 0px 0;
        width: 370px;
        border-radius: 15px;
        background-color: #ffffff;
    }

    .groupage-left {
        width: 100% !important;
        margin-bottom: 15px;
    }

    .shipping-wrap-box {
        padding-left: 0px;
        padding-right: 0px;
    }

    .home-country-selector {
        width: 60%;
        border-right: 1px solid #00000066;
        padding: 0 0px;
    }

    .home-search-country {
        cursor: pointer;
        width: 40%;
        padding: 0 0px;
    }

    .regerser-country-label {
        margin-bottom: 55px;
    }

    .about-track {
        margin-top: 8px;
        font-size: 40px;
        font-weight: none;
        color: #012A52;
    }

    .about-title-head h3 {
        font-size: 1.5rem;
    }

    .about-text p {
        font-size: 0.95rem;
    }

    .about-track h5 {
        font-size: 0.9rem;
    }

    .our-mission {
        height: auto;
        padding: 20px 0;
    }

    /* .our-mission p {
        padding: 15px;
        font-size: 18px;
        line-height: 28px;
        width: 100%;
    } */

    .about-footer-img {
        margin-top: 0;
        margin-left: 0;
        text-align: center;
    }

    .about-footer-img img {
        width: 100%;
    }

    /* .about-footer-wrap {
        width: 100% !important;
        height: auto;
        padding: 40px 20px 20px 20px;
        margin: 10px 0;
    } */

    .footer-list img {
        height: 28px;
    }

    .footer-list .gap-3 {
        gap: 1rem !important;
    }

    .hero-wrapper {
        padding: 0px 0px 50px 0;
    }

    .mission-wrappr {
        margin-top: 1px;
    }

    .search-result-wrap {
        margin-left: 1px;
    }

    .login-tab-wrapper {
        width: 100%;
    }

    .footer_img {
        height: 70px;
    }

    .home-icons {
        font-size: 24px;
    }

    .shipping-selection {
        max-width: 100% !important;
    }

    .dashboard-offer-selection {
        width: 90% !important;
    }

    .super-admin-offer {
        width: 100% !important;
    }

    .user-offer-width {
        width: 100% !important;
    }

    .dropdown-menu-home {
        min-width: 70%;
    }

    .login-google-btn {
        width: 100%;
    }

    .login-google-line {
        width: 100%;
    }

    .home-groupage-btn button {
        width: 65% !important;
    }

    .dashbord-info-wrap {
        padding: 0 5px;
    }

    .dashboard-wrapper-box .table-wrap {
        margin: 25px 15px;
    }
}

@media (max-width: 1399) {
    .login-tab-wrapper {
        width: 64%;
    }
}

@media (max-width: 1370px) {
    .about-footer-wrap {
        background-color: #ffffff;
        margin: 15px 10px;
        padding: 10px 15px 0 20px;
        width: 100%;
        height: 270px;
        border-radius: 20px;
        text-align: left;
    }
}

@media (max-width: 1200px) {
    .testi-description-box {
        height: 270px !important;
    }
}

@media (max-width: 991px) {
    .testi-description-box {
        height: 330px !important;
    }
}

@media (max-width: 900px) {
    .testi-description-box {
        height: 235px !important;
    }
}

@media (max-width: 767px) {
    .testi-description-box {
        height: 310px !important;
    }
}

@media (max-width: 701px) {
    .testi-description-box {
        height: 210px !important;
    }
}