.features-head h5 {
    font-size: 18px;
    font-weight: 600;
}

.features-head p {
    font-size: 16px;
    color: #474747;
}

.navbar-wrapper {
    background-color: #012A52;
    width: 100%;
    padding: 8px 0;
    /* position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10; */
}

.hero-wrapper {
    width: 100%;
    padding: 120px 0;
    background-image: url(../../../public/Images/bg_image_home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

/* Overlay */
.hero-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #012A52;
    opacity: 0.6;
    /* Adjust this value as needed */
    z-index: -1;
}

.pickup-wrap {
    margin: 40px 0;
    width: 700px;
    border-radius: 15px;
    background-color: #ffffff;
}

.pickup-wrap button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #2B7BA7;
    color: #fff;
}

.search-wrapper {
    width: 100%;
    margin-top: -60px;
    z-index: 2;
}

.hero-wrap-head h1 {
    font-size: 56px;
    font-weight: bold;
    color: #fff;
    line-height: 70px;
}

.hero-wrap-head p {
    font-size: 18px;
    color: #fff;
    width: 75%;
    margin: 18px auto;
    line-height: 28px;
}

.title-head h3 {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
}

.title-head h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

.new-add-company-wrapper {
    background-color: #f2f2f2;
    padding: 40px 0;
    margin-top: 30px;
    width: 100%;
}

.new-add-company-wrapper h5 {
    margin-top: 8px;
    font-weight: 600;
    font-size: 18px;
}

.company-box-wrap {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.company-box-text h5 {
    font-weight: 600;
    font-size: 16px;
}

.image-div {
    width: 100%;
    height: 150px;
    background-color: #D9D9D9;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: inherit;
    display: block;
}

.offer-pickup h6 {
    font-weight: 500;
    font-size: 14px;
    color: #4e4e4e;
}

.offer-pickup p {
    font-size: 14px;
    color: #000000;
}

.submit-offer {
    font-size: 14px;
    /* font-weight: 500; */
    color: #095198;
    cursor: pointer;
    text-decoration: underline;
}

.home-offer-btn {
    padding: 12px 40px;
    font-weight: 600;
    color: #012A52;
    border: 1px solid #012A52;
    border-radius: 6px;
    margin: 50px auto 0 auto;
    background-color: transparent;
}

.btn-main {
    padding: 12px 30px;
    color: #fff;
    background-color: #de8316;
    border: 1px solid #de8316;
    border-radius: 6px;
    margin: 50px auto 0 auto;
}

.step-image-wrapper img {
    width: 90%;
}

.step-text-wrapper h4 {
    font-size: 22px;
    color: #de8316;
    font-weight: bold;
}

.step-text-wrapper h5 {
    font-size: 19px;
    color: #000;
    font-weight: 600;
    margin: 10px 0px;
}


.stats-wrapper {
    /* margin-top: 60px; */
    padding: 35px 0px;
    background-color: #012A52;
    width: 100%;
}

.stats-wrap h3 {
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}

.build-wrapper {
    margin-top: 60px;
    padding: 35px 0px;
    width: 100%;
}

.build-wrap h2 {
    color: #012A52;
    margin-top: 20px;
}

.build-wrap h5 {
    font-weight: 600;
    margin-top: 20px;
    font-size: 18px;
    color: #000;
}

.build-wrap p {
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    margin-top: 12px;
}

.stats-wrap h3 {
    font-size: 26px;
    font-weight: bold;
}

.testi-img-wrapper img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.testi-img-wrapper h5 {
    font-weight: 500;
}

.testi-desc-wrapper p {
    font-size: 14px;
    color: #00000099;
    line-height: 24px;
    margin-top: 10px;
}

.review-rating {
    height: 200px;
}

.faq-wrap ul li {
    /* border: 1px solid #ccc; */
    width: 100%;
    padding: 18px;
}


.login-wrap {
    width: 100%;
    max-width: 51%;
    height: 100vh;
    background-color: #fff;
    padding: 40px 50px;
    overflow-x: hidden;
}

.login-logo-wrap {
    text-align: left;
}

.login-logo-wrap img {
    width: 10%;
    margin-bottom: 30px;
}

.login-tab-wrapper {
    margin: 25px 0 15px 0;
    width: 60%;
}

.tab-btn {
    padding: 13px;
    border-radius: 40px;
}

.tab-btn p {
    font-weight: 500;
    margin-bottom: 0;
}

.input-field {
    width: 90%;
    padding: 14px 20px;
    background-color: #ebebeb;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    font-size: 17px !important;
    margin-bottom: 30px;
    font-family: 'Montserrat';
}

.input-field :focus-visible {
    outline: none;
    border: 1px solid #ebebeb;
}

.input-label {
    font-size: 17px;
    color: #000;
    margin-bottom: 8px;
    font-family: 'Montserrat';
}

.btn-sign {
    display: block;
    width: 100%;
    background-color: #1fa4e6;
    color: #fff;
    font-size: 19px;
    padding: 12px 0;
    text-align: center;
    border: 1px solid #1fa4e6;
    border-radius: 6px;
}

.login-bg-wrapper {
    width: 100%;
    background: url(../../../public/Images/loginBg.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.faq-wrapper {
    margin-top: 60px;
}

.contact-form-wrap {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 6px #ccc;
    padding: 30px 10px 30px 40px;
    border-radius: 10px;
}

.contact-field {
    width: 100%;
    padding: 12px 20px;
    background-color: #ebebeb;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    font-size: 15px !important;
    margin-bottom: 30px;
}

.contact-form-wrap h4 {
    font-size: 22px;
    margin-bottom: 18px;
    font-weight: bold;
}

.promo-wrapper p {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 10px 0 35px 0;
}

.btn-register {
    padding: 12px 30px;
    color: #fff;
    background-color: #de8316;
    border: 1px solid #de8316;
    border-radius: 6px;
}

.footer-logo-wrap img {
    width: 40%;
    ;
}

.footer-wrapper {
    padding: 50px 0 20px 0;
    text-align: left;
}

.footer-wrap ul {
    margin: 0;
    padding: 0;
}

.footer-wrap ul li {
    color: #575757;
    font-size: 16px;
    margin-top: 15px;
}

.footer-wrap h3 {
    font-size: 22px;
    font-weight: bold;
}

.footer-wrap .follow li {
    display: inline-block;
    color: #de8316;
    font-size: 22px;
    padding-right: 12px;
}

.search-result-wrap {
    margin-left: 30px;
    ;
}

.search-result-data-wrap {
    width: 100%;
    background-color: #f6f6f6;
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 40px;
    cursor: pointer;
}

.search-result-logo-wrap img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    margin-bottom: 20px;
}

.input-select {
    width: 100%;
    background-color: #686866;
    border-radius: 5px;
    padding: 12px;
}

.offer-details-wrap {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    margin-top: 25px;
}

.offer-submit-sub-head {
    font-size: 15px;
}

.btn-main-offer {
    padding: 12px 30px;
    color: #fff;
    background-color: #de8316;
    border: 1px solid #de8316;
    border-radius: 6px;
    margin-top: 30px;
}

.sidebar-wrapper {
    /* position: fixed;
    left: 0;
    top: 0;
    background-color: #00232f;
    width: 24%;
    height: 100vh;
    z-index: 1000;
    overflow-y: auto; */

    position: fixed;
    left: 0;
    top: 0;
    background-color: #00232f;
    width: 15%;
    height: 100vh;
    /* z-index: 0; */

    /* background-color: #00232f; */
}

.sidebar-wrap ul li .sidebar-links {
    font-size: 16px;
    padding: 10px 14px;
}

.dashboard-wrap-box {
    width: 95%;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
}

.dashbord-info-wrap {
    padding: 0 40px;
    background-color: #f6f6f6;
}

.shipping-wrapper {
    margin-bottom: 40px;
}

.shipping-input-field {
    width: 100% !important;
    padding: 12px 18px !important;
    background-color: #ebebeb !important;
    border-radius: 6px !important;
    border: 1px solid #ebebeb !important;
    font-size: 15px !important;
    font-family: 'Montserrat' !important;
}

.shipping-input-field-contact {
    width: 100% !important;
    padding: 0px 18px !important;
    background-color: #ebebeb !important;
    border-radius: 6px !important;
    border: 1px solid #ebebeb !important;
    font-size: 15px !important;
    font-family: 'Montserrat' !important;
}

.PhoneInputInput {
    width: 100% !important;
    padding: 12px 18px !important;
    background-color: #ebebeb !important;
    border-radius: 6px !important;
    border: 1px solid #ebebeb !important;
    font-size: 15px !important;
    font-family: 'Montserrat' !important;
}

.shipping-input-label {
    font-size: 16px;
    color: #000;
    margin-bottom: 8px;
    font-family: 'Montserrat';
}

input:focus-visible {
    outline: none !important;
}

.order-details-wrap span {
    font-size: 15px;
    color: #595959;
}

.order-details-wrap span h6 {
    color: #000;
    font-weight: 500;
}

.page-item {
    margin: 0 5px;
}

.page-item:first-child .page-link {
    border-radius: 100% !important;
    border: 1px solid #cecece
}

.page-item:last-child .page-link {
    border-radius: 100% !important;
    border: 1px solid #cecece
}

.page-item a {
    color: #000;
    border-radius: 100%;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #cecece
}

svg {
    vertical-align: baseline;
}

ul {
    padding-left: 0px !important;
}

.p-stepper .p-stepper-header .p-stepper-action .p-stepper-title {
    margin-left: 0.5rem;
    color: #171717;
    font-weight: 400;
    /* transition: background-color 0.2s, color 0.2s, box-shadow 0.2s; */
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}

.p-stepper .p-stepper-header {
    padding: 15px 0px 5px 0px;
}

.p-stepper .p-stepper-header.p-highlight .p-stepper-number {
    background: #1FA4E6 !important;
    color: #ffffff !important;
}

.p-stepper .p-stepper-header .p-stepper-action .p-stepper-number {
    color: #4b5563;
    border: 1px solid #f3f4f6;
    border-width: 2px;
    background: #ffffff;
    min-width: 30px;
    height: 30px;
    line-height: 2rem;
    font-size: 15px;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

.p-stepper .p-stepper-separator {
    background-color: #e5e7eb;
    width: 100%;
    height: 2px;
    margin-inline-start: 0;
    transition: box-shadow 0.2s;
}

.p-stepper .p-stepper-panels {
    background: #ffffff;
    padding: 15px;
    color: #4b5563;
}

.success-img-wrap img {
    width: 20%;
    margin-bottom: 30px;
}

.success-des-wrap p {
    font-size: 15px;
    color: #4b4b4b;
    line-height: 25px;
}

.btn-success {
    padding: 12px 30px;
    color: #fff;
    background-color: #0086c9;
    border: 1px solid #0086c9;
    border-radius: 6px;
    margin-top: 20px;
}

.details-wrap {
    color: #4b4b4b;
    font-weight: 500;
    margin: 20px 0;
    font-size: 18px;
}

.regester-wrap {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 50px 0;
}

svg {
    vertical-align: text-top !important;
    padding-right: 1px !important;
}

.company-details-wrap {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 8px;
    ;
}

.company-details-wrap h4 {
    font-size: 18px;
    font-weight: bold;
}

.dashboard-wrapper-box .table-wrap {
    margin: 25px 30px;
    /* width: 100%; */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px #ccc;
    padding: 20px;
    ;
}

.custom-progress-bar {
    background: #de8316 !important;
    height: 5px;
    border-radius: 2px;
}

.about-img {
    width: 100%;
}

.about-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.about-text p {
    font-size: 18px;
    /* font-weight: 600; */
    color: #00000099;
    text-align: left;
    line-height: 28px;
    /* padding-right: 30px; */
}

.search-btn-home {
    background-color: #2B7BA7 !important;
    color: #fff !important;
    padding: 12px 20px !important;
}

.reset-password-wrapper {
    background-image: url(../../../public/Images/loginBg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.reset-password-wrap {
    width: 500px;
    border-radius: 5px;
}

.btn-change-password {
    padding: 12px 30px;
    color: #fff;
    background-color: #de8316;
    border: 1px solid #de8316;
    border-radius: 6px;
}

.btn-logout {
    padding: 12px 30px;
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
    border-radius: 6px;
}

.image-wrapper-offers {
    width: 18%;
    /* Approx 5 per row with gaps */
    min-width: 100px;
}

.image-wrapper-offers img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.about-image {
    width: 11%;
}

.about-text {
    width: 81%;
}

.about-image-wrap {
    width: 100%;
    height: 450px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.about-image-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 50%;
    border-radius: inherit;
    display: block;
}

.about-head-wrap h3 {
    color: #012A52;
    font-weight: 600;
    font-size: 20px;
}

.home-heading h2 {
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.about-text-wrap h2 {
    margin-top: 10px;
    color: #000000;
    font-size: 28px;
    font-weight: 700;
    line-height: 38px;
}

.about-text-wrap p {
    margin-top: 20px;
    color: #464646;
    /* font-weight: 500; */
    font-size: 15px;
    line-height: 25px;
    /* margin-bottom: 21px; */
}

.about-btn button {
    font-weight: 500;
    padding: 12px 24px;
    color: #fff;
    background-color: #012A52;
    border: 1px solid #012A52;
    border-radius: 7px;
    margin-top: 15px;
}

.slider-btn button {
    margin: 0 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    box-shadow: -3px 2px 10px rgba(0, 0, 0, 0.225);
}

.step-text h5 {
    font-weight: 700;
    color: #000000;
    margin-bottom: 0;
    font-size: 20px;
}

.step-text p {
    padding-left: 21px;
    /* font-weight: 500; */
    font-size: 15px;
    line-height: 25px;
    /* width: 390px; */
    color: #00000099;
    /* margin-top: -4px; */
}

.step-image img {
    width: 160px;
    height: 160px;
    margin-left: 100px;
    object-fit: cover;
}

.home-footer-wrapper {
    background-image: url(../../../public/Images/home_footer.jpg);
    padding: 40px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

.home-footer-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #012A52;
    opacity: 0.3;
    z-index: -1;
}

.heading-footer h1 {
    font-weight: 600;
    color: #FFFFFF;
}

.heading-footer p {
    margin-top: 24px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 20px;
}

.heading-footer button {
    margin-top: 24px;
    background-color: #FFFFFF;
    color: #012A52;
    padding: 12px 30px;
    border-radius: 10px;
    font-weight: 500;
}

.contact-info {
    background-color: #012A52;
    border-radius: 25px;
    padding: 30px 30px;
    height: 100%;
}

.footer-bottom {
    background-color: #012A52;
    padding: 60px 0px 0px 0px;
}

.question-h4 {
    font-weight: 500;
    color: #012A52;
    font-size: 18px;
}

.para-question {
    font-size: 16px;
    line-height: 27px;
    color: #4f4f4f;
    /* font-weight: 500; */
}

.question-call-email h5 {
    color: #012A52;
    font-weight: 600;
    font-size: 18px;
}

.question-call-email h6 {
    color: #012A52;
    font-weight: 500;
    font-size: 16px;
}

.question-image {
    width: 100%;
    height: 300px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.question-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer-list {
    color: #FFFFFF;
}

.footer-list h4 {
    font-weight: 600;
}

.footer-list ul {
    list-style: none;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
}

.footer-list ul li {
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 7px;
}

.groupage-left {
    width: 73% !important;
}

.shipping-wrap-box {
    padding-left: 50px;
    padding-right: 20px;
}

.home-country-selector {
    width: 50%;
    border-right: 1px solid #00000066;
    padding: 0 20px;
}

.home-search-country {
    cursor: pointer;
    width: 50%;
    padding: 0 20px;
}

.terms-condition-weapper {
    width: 100%;
    padding: 60px 0;
    background-color: #012a52;
    position: relative;
    z-index: 0;
}

.title-head-terms h2 {
    font-size: 40px;
    width: 50%;
    color: #ffffff;
    font-weight: bold;
}

.title-head-terms p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
    width: 50%;
    font-weight: 400;
    color: #ffffff;
}

.terms-condition-wrap {
    background-color: #ffffff;
}

.condition h5 {
    font-size: 30px;
    font-weight: bold;
    color: #012a52;
}

.condition p {
    font-size: 16px;
    line-height: 26px;
    color: #565656;
    font-weight: 400;
}

.about-wrap {
    width: 100%;
    padding: 80px 0;
    background-image: url(../../../public/Images/home_footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
}

/* Overlay */
.about-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #012A52;
    opacity: 0.2;
    /* Adjust this value as needed */
    z-index: -1;
}

.about-wrap-head h1 {
    font-size: 56px;
    font-weight: bold;
    color: #fff;
    line-height: 70px;
}

.about-wrap-head p {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    width: 75%;
    margin: 18px auto;
    line-height: 28px;
}

.about-title-head h3 {
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 25px;
}

.about-track {
    margin-top: 8px;
    font-size: 70px;
    font-weight: none;
    color: #012A52;
}

.about-track h3 {
    font-weight: 700;
}

.icon-size-about {
    font-size: 40;
}

.our-mission-wrap h3 {
    font-weight: 600;
    font-size: 38px;
    color: #000000;
    margin-bottom: 20px;
}


.our-mission-btn button {
    padding: 12px 15px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.image-container {
    position: relative;
    width: 350px;
    margin: 20px 4px;
}

.base-image,
.overlay-image {
    width: 450px;
    height: auto;
    display: block;
}

.overlay-image {
    position: fixed;
    top: 20;
    left: 20;
    pointer-events: none;
    z-index: 2;
}

.about-choose {
    background-color: #F6F6F6;
}

.our-mission {
    background-color: #014284;
    color: #FFFFFF;
    width: 100%;
    height: 380px;
}

.our-mission p {
    padding: 30px;
    width: 90%;
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
}

.our-mission-btn button {
    padding: 12px 15px;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
}

.about-footer-img {
    margin-top: -67px;
    margin-left: 0px;
    width: 100%;
}

.about-footer-img img {
    width: 100%;
    object-fit: cover;
}

.mission-wrappr {
    margin-top: 180px;
}


.about-footer-wrap {
    background-color: #ffffff;
    margin: 15px 10px;
    padding: 80px 20px 0 20px;
    width: 100%;
    height: 240px;
    border-radius: 20px;
    text-align: left;
}

.about-footer-wrap h6 {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
}

.about-footer-wrap p {
    font-size: 14px;
    font-weight: 500;
    color: #00000099;
}

.about-choose {
    background-color: #F6F6F6;
}

.about-choose h3 {
    font-size: 35px;
    font-weight: 600;
}

.btn-main-review {
    padding: 12px 30px;
    color: #fff;
    background-color: #de8316;
    border: 1px solid #de8316;
    border-radius: 6px;
}

.input-field-review {
    width: 100%;
    padding: 14px 20px;
    background-color: #ebebeb;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    font-size: 17px !important;
    margin-bottom: 30px;
    font-family: 'Montserrat';
}

.review-submit-btn button {
    padding: 12px 30px;
    color: #fff;
    background-color: #de8316;
    border: 1px solid #de8316;
    border-radius: 6px;
    /* margin: 50px auto 0 auto; */
}